.img-card{
    width: 300px;
    height: 280px;
    text-decoration: none;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

#reservation_section{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 380px;
    margin: 8px;
    text-decoration: none;
}

.container-destination{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
}

#reservation_section{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.destination-img{
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
    margin-bottom: 8px;
}