@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Header-controler {
  width: 100%;
  height: 100px;
  background: #00c6ff; 
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 

  color: white;
  display: flex;
  justify-content: center;
  line-height: 96px;
  
  
}

.Header-controler a {
  font-size: 35px;
  font-family: 'Bebas Neue'
}

#Logo-controler {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#Logo-controler {
  width: 100px;
  height: 100%;
  display: flex;
}

.Nav-controler {
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Nav-controler a {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
