@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

.ListComments_Titulo {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Cambay', sans-serif;
}

.ListComments{
    border-bottom: 15px;
}

.background-list{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin:auto;
    background: #00c6ff;
    background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);
    background: linear-gradient(to top, #0072ff, #00c6ff);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.CommentOfUser {
    width: 900px;
    height: 225px;
    margin-left: 8.5%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.CajaComentario {
    width: 860px;
    height: 120px;
    transform: translate(20px, 20px);
    border-width: 10px;
    border: solid;   
}

.Delete-CommentOfUser {
    width: 150px;
    height: 30px;
    background: #f00000;
  background: -webkit-linear-gradient(to left,
      #f21f14,
      #f00000);
  background: linear-gradient(to left,
      #ff2519,
      #f00000);
    font-size: 15px;
    color: white;
    padding: 6px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 80%;
}

.Comment_UserCreator {
    transform: translate(30px, 20px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Comment_CreatorName {
    transform: translate(24px, 43px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Comment_Post_Time {
    width: 10px;
    transform: translate(440px, 28px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}