@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Header-controler {
  width: 100%;
  height: 100px;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right,
      #0072ff,
      #00c6ff);
  background: linear-gradient(to right,
      #0072ff,
      #00c6ff);
  color: white;
  display: flex;
  justify-content: center;
  line-height: 96px;
}

.Header-controler a {
  font-size: 35px;
  font-family: 'Bebas Neue'
}

#Logo-controler {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#Logo-controler {
  width: 100px;
  height: 100%;
  display: flex;
}

.Nav-controler {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  
}

.Nav-controler a {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}