@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

.Employee_Background{
  object-fit: cover;
  width: 100%;
  height: 740px;
  background: #00c6ff;
  background: -webkit-linear-gradient(to top, #0072ff, #00c6ff);
  background: linear-gradient(to top, #0072ff, #00c6ff);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



.EmployeeRegister {
  width: 400px;
  height: 670px;
  transform: translate(600px, 30px);
  background-color: rgb(255, 255, 255);
  margin-left: -280px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Employee_titulo {
  margin-left: 80px;
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin-top: 0px;
  font-family: 'Cambay', sans-serif;
}

#Full_name {
  position: relative;
  left: 15px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Employee_Email {
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  left: 15px;
}

#Employee_Password {
  position: relative;
  left: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

#Role {
  position: relative;
  left: 15px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

#Age {
  position: relative;
  left: 15px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Cellphone {
  position: relative;
  left: 15px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Employee_place {
  width: 350px;
  height: 30px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-left: 15px;
}

#place:focus {
  outline: none;
}

.Create-button-container-EmployeeRegister {
  transform: translate(0px, 50px);
  margin-left: 125px;
  bottom: 12%;
}

#Create-Employee-button {
  width: 150px;
  height: 45px;
  background: #008cff;
  background: -webkit-linear-gradient(to left, #0072ff, #027bdf);
  background: linear-gradient(to left, #0072ff, #00b7ff);
  font-size: 15px;
  color: white;
  padding: 12px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  border: 2px solid black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
  margin-top: -35px;
}