.EmployeeRegister{
    width: 400px;
    height: 680px;
    transform: translate(600px, -700px);
    background-color: rgb(21, 101, 193, .15);
    backdrop-filter: blur(5px);
    margin-top: 0px;
    margin-left: -250px;
    position: absolute;
}
/* 
h3{
    font-size: 25px;
    margin-top: 30px;
}

form{
    margin-top: 20px;
}

#Full_name{
    position: relative;
    left: -100px;
    font-size: 20px;
    color: aliceblue;
}

#Email{
    position: relative;
    left: -115px;
    font-size: 20px;
    color: aliceblue;
}

#Password{
    position: relative;
    left: -104px;
    font-size: 20px;
    color: aliceblue;
}

#Role{
    position: relative;
    left: -123px;
    font-size: 20px;
    color: aliceblue;
}

#Age{
    position: relative;
    left: -123px;
    font-size: 20px;
    color: aliceblue;
}

#Cellphone{
    position: relative;
    left: -100px;
    font-size: 20px;
    color: aliceblue;
}

.place{
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: black;
}

#place:focus{ outline: none;}

.button-container-EmployeeRegister{
    transform: translate(10px,-20px);
    left: 30%;
    top: 93%;
}

.Create-button-EmployeeRegister{
    position: absolute;
    left:30%;
    bottom: 20%;
}
*/
.Employee_Background img{
    object-fit: cover;
    width: 100%;
    height: 900px;
} 

.Employee_titulo {
    margin-left: 80px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-top: 0px;
}
  


#Full_name{
    position: relative;
    left: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#Employee_Email{
    position: relative;
   
    font-size: 20px;
    color: aliceblue;
    left: 15px;
}

#Employee_Password{
    position: relative;
    left: 15px;
    font-size: 20px;
    color: aliceblue;

}

#Role{
    position: relative;
    left: 15px;
    font-size: 20px;
    color: aliceblue;
}

#Age{
    position: relative;
    left: 15px;
    font-size: 20px;
    color: aliceblue;
}

#Cellphone{
    position: relative;
    left: 15px;
    font-size: 20px;
    color: aliceblue;
}

.Employee_place{
    width: 350px;
    height: 30px;
    font-size: 15px;
    color: black;
    margin-left: 15px;
}

#place:focus{ outline: none;}

.Create-button-container-EmployeeRegister{
    transform: translate(0px,50px);
    margin-left:125px;
    bottom: 12%;
}

#Create-Employee-button{
    width: 150px;
    height: 30px;
    background-color: #0082c8;
    font-size: 15px;
    color: white;
    padding: 6px 20px;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    text-decoration: none;
    font-size: 15px;
}