.EmployeeRegister {
  width: 400px;
  height: 680px;
  transform: translate(600px, 30px);
  background-color: rgb(21, 101, 193, 0.15);
  backdrop-filter: blur(5px);
  margin-left: -280px;
}

.Employee_Background img {
  object-fit: cover;
  width: 100%;
  height: 900px;
}

.Employee_titulo {
  margin-left: 80px;
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin-top: 0px;
}

#Full_name {
  position: relative;
  left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#Employee_Email {
  position: relative;

  font-size: 20px;
  color: rgb(0, 0, 0);
  left: 15px;
}

#Employee_Password {
  position: relative;
  left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#Role {
  position: relative;
  left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#Age {
  position: relative;
  left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

#Cellphone {
  position: relative;
  left: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.Employee_place {
  width: 350px;
  height: 30px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-left: 15px;
}

#place:focus {
  outline: none;
}

.Create-button-container-EmployeeRegister {
  transform: translate(0px, 50px);
  margin-left: 125px;
  bottom: 12%;
}

#Create-Employee-button {
  width: 150px;
  height: 30px;
  width: 150px;
  height: 30px;
  background: #0575e6;
  background: -webkit-linear-gradient(to left, #021b79, #0575e6);
  background: linear-gradient(to left, #021b79, #0575e6);
  font-size: 15px;
  color: white;
  padding: 6px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
}
