.Body{
    width: 100%;
    height: auto;
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #0072ff,
      #00c6ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #0072ff,
      #00c6ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 10px;
    border-radius: 10px;
}

#Map{
    display: block;
    margin: auto;
    width: 480px;
    border-left: solid 3px rgb(255, 255, 255);
    border-right: solid 3px rgb(255, 255, 255);
}

.Nacional h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
}