.Footer {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  background: #00c6ff; 
  background: -webkit-linear-gradient(
    to top,
    #0072ff,
    #00c6ff
  ); 
  background: linear-gradient(
    to top,
    #0072ff,
    #00c6ff
  ); 
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  bottom: 0;
}

.help{
  width: 15%;
  height: 70%;
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.business{
  width: 15%;
  height: 70%;
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.legal{
  width: 15%;
  height: 70%;
  float: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.div-section {
  width: 25%;
  height: 70%;
  float: left;
}

#title {
  font-size: 20px;
  position: relative;
  top: 10px;
}

#id {
  font-size: 15px;
  position: relative;
  top: 10px;
  display: flex;
}

#copyright {
  font-size: 15px;
  position: center;
  top: 10px;
}

.Card-networks {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  float: left;
  position: relative;
  left: 890px;
  bottom: 25px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.Card-networks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about{
  color: white;
}

#contact{
  color: white;
}

#policies{
  color: white;
}

#terms{
  color: white;
}

#frequent{
  color: white;
}

