.destination-img{
    height: 300px;
}
.destination-info{
    height: 320px;
}


.Form-reservation-container{
    height: 335px;
    background-color: rgb(21, 101, 193, .15);
    text-align: center;
}

.campos label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label-date{
    position: relative;
    left: -200px;
    font-size: 20px;
}

#input-date{
    position: relative;
    left: -190px;
    font-size: 20px;
}

#label-classType{
    position: relative;
    top: 30px;
    left: -250px;
    font-size: 20px;
}

#select-classType{
    position: relative;
    top: 60px;
    left: -340px;
    font-size: 20px
}

#origin{
    
}