.Form-reservation-container {
  height: 430px;
  width: 700px;
  margin-top: -105px;
  margin-left: 10px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: -0px 10px 180px;
  background-image: url(/img/Rio.jpg);
  border-radius: 25px;
  border-color: rgb(255, 255, 255);
}


.formReserver{
    background-color: rgb(21, 101, 193, .15);
    backdrop-filter: blur(5px);
    width: 620px;
    height: 370px;
    position: relative;
    margin-left: 30px;
    margin-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.reservation-body{
  background: #00c6ff; 
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 
  margin-top: -20px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 25px;
  
}

@media screen and (min-width: 1024px) {
  .reservation-body {
    width: 100%;
  }
  
}


.destination-img {
  height: 300px;
 margin-top: 25px ;
 margin-left: -25px;
  
}
.destination-info {
  height: 120px;
  width: 320px;
  position: relative;
  margin-top:30px;
  margin-left: 760px;
}

.Reserve {
  transform: translate(10px, 25px);
  font-size: 40px;
  margin-top: -10px;
  position: relative;
}

.campos label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#label-date {
  position: relative;
  left: -150px;
  bottom: -60px;
  font-size: 20px;
}

#input-date {
  position: relative;
  left: -148px;
  bottom: -60px;
  font-size: 18px;
}

#label-classType {
  position: relative;
  top: 92px;
  left: 177px;
  font-size: 20px;
}

#select-classType {
  position: relative;
  top: 94px;
  left: 180px;
  font-size: 15.5px;
}

#label-originReservation {
  position: relative;
  left: 160px;
  top: 30px;
  font-size: 20px;
}
#select-origin {
  position: relative;
  top: 30px;
  left: 160px;
  font-size: 15.5px;
}

#label-departureTime {
  position: relative;
  top: -65px;
  left: -106px;
  font-size: 20px;
}

#input-departureTime {
  position: relative;
  top: -65px;
  left: -100px;
  font-size: 15.5px;
}

#button-reservation-save {
    
    margin-top:120px;
    background-color: #0082c8;
    font-size: 15px;
    color: white;
    padding: 6px 20px;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 25px;
    padding: 12px 35px;
    transform: translate(-135px,9px);
}
.TituloMapaAsientos{
  font-family:Arial, Helvetica, sans-serif;
  transform: translate(410px, 14px);
  font-size: 40px;
}
#seat_1{
  background-color: #1b057a;
  border: 0px;
  border-radius: 6px;
  width: 23px;
  height: 27px;
  transform: translate(324px,-233px);
  color: white;
}
#seat_2{
  background-color: #1b057a;
  border: 0px;
  border-radius: 6px;
  width: 23px;
  height: 27px;
  transform: translate(324px,-233px);
  color: white;
}

.button-seat1{
  width: 20px;
  height: 25px;
}

#btn-place-airplane1{
  position: relative;
  left: 30.2%;
  bottom: 226px;
}

#btn-place-airplane2{
  position: relative;
  left: 28.3%;
  bottom: 190px;
}

#btn-place-airplane3{
  position: relative;
  left: 26.4%;
  bottom: 117px;
}

#btn-place-airplane4{
  position: relative;
  left: 24.4%;
  bottom: 81px;
}

#btn-place-airplane5{
  position: relative;
  left: 25.3%;
  bottom: 226px;
}

#btn-place-airplane6{
  position: relative;
  left: 23.4%;
  bottom: 190px;
}

#btn-place-airplane7{
  position: relative;
  left: 21.4%;
  bottom: 117px;
}

#btn-place-airplane8{
  position: relative;
  left: 19.5%;
  bottom: 81px;
}

#btn-place-airplane9{
  position: relative;
  left: 20.3%;
  bottom: 226px;
}

#btn-place-airplane10{
  position: relative;
  left: 18.4%;
  bottom: 190px;
}

#btn-place-airplane11{
  position: relative;
  left: 16.5%;
  bottom: 117px;
}

#btn-place-airplane12{
  position: relative;
  left: 14.6%;
  bottom: 81px;
}

#btn-place-airplane1, #btn-place-airplane2, #btn-place-airplane3, #btn-place-airplane4, #btn-place-airplane5, #btn-place-airplane6, #btn-place-airplane7, #btn-place-airplane8, #btn-place-airplane9, #btn-place-airplane10, #btn-place-airplane11, #btn-place-airplane12{
  background-color: #1361ab;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
}

.button-seat{
  width: 20px;
  height: 20px;
}

#btn-place-airplane13{
  position: relative;
  left: 18.2%;
  bottom: 231px;
}

#btn-place-airplane14{
  position: relative;
  left: 16.3%;
  bottom: 206px;
}

#btn-place-airplane15{
  position: relative;
  left: 14.4%;
  bottom: 183px;
}

#btn-place-airplane16{
  position: relative;
  left: 12.5%;
  bottom: 130px;
}

#btn-place-airplane17{
  position: relative;
  left: 10.6%;
  bottom: 105px;
}

#btn-place-airplane18{
  position: relative;
  left: 8.7%;
  bottom: 81px;
}

#btn-place-airplane19{
  position: relative;
  left: 25.2%;
  bottom: 231px;
}

#btn-place-airplane20{
  position: relative;
  left: 23.3%;
  bottom: 206px;
}

#btn-place-airplane21{
  position: relative;
  left: 21.4%;
  bottom: 183px;
}

#btn-place-airplane22{
  position: relative;
  left: 19.5%;
  bottom: 130px;
}

#btn-place-airplane23{
  position: relative;
  left: 17.6%;
  bottom: 105px;
}

#btn-place-airplane24{
  position: relative;
  left: 15.6%;
  bottom: 81px;
}

#btn-place-airplane13, #btn-place-airplane14, #btn-place-airplane15, #btn-place-airplane16, #btn-place-airplane17, #btn-place-airplane18, #btn-place-airplane19, #btn-place-airplane20, #btn-place-airplane21, #btn-place-airplane22, #btn-place-airplane23, #btn-place-airplane24{
  background-color: #dfb737;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
}

#btn-place-airplane25{
  position: relative;
  left: -2.2%;
  bottom: 231px;
}

#btn-place-airplane26{
  position: relative;
  left: -4.1%;
  bottom: 206px;
}

#btn-place-airplane27{
  position: relative;
  left: -6%;
  bottom: 183px;
}

#btn-place-airplane28{
  position: relative;
  left: -7.9%;
  bottom: 130px;
}

#btn-place-airplane29{
  position: relative;
  left: -9.8%;
  bottom: 105px;
}

#btn-place-airplane30{
  position: relative;
  left: -11.7%;
  bottom: 81px;
}

#btn-place-airplane31{
  position: relative;
  left: -11.2%;
  bottom: 231px;
}

#btn-place-airplane32{
  position: relative;
  left: -13.1%;
  bottom: 206px;
}

#btn-place-airplane33{
  position: relative;
  left: -15%;
  bottom: 183px;
}

#btn-place-airplane34{
  position: relative;
  left: -16.9%;
  bottom: 130px;
}

#btn-place-airplane35{
  position: relative;
  left: -18.8%;
  bottom: 105px;
}

#btn-place-airplane36{
  position: relative;
  left: -20.7%;
  bottom: 81px;
}

#btn-place-airplane37{
  position: relative;
  left: -20.1%;
  bottom: 231px;
}

#btn-place-airplane38{
  position: relative;
  left: -22%;
  bottom: 206px;
}

#btn-place-airplane39{
  position: relative;
  left: -23.9%;
  bottom: 183px;
}

#btn-place-airplane40{
  position: relative;
  left: -25.8%;
  bottom: 130px;
}

#btn-place-airplane41{
  position: relative;
  left: -27.7%;
  bottom: 105px;
}

#btn-place-airplane42{
  position: relative;
  left: -29.6%;
  bottom: 81px;
}

#btn-place-airplane43{
  position: relative;
  left: -29.1%;
  bottom: 231px;
}

#btn-place-airplane44{
  position: relative;
  left: -31%;
  bottom: 206px;
}

#btn-place-airplane45{
  position: relative;
  left: -32.9%;
  bottom: 183px;
}

#btn-place-airplane46{
  position: relative;
  left: -34.8%;
  bottom: 130px;
}

#btn-place-airplane47{
  position: relative;
  left: -36.7%;
  bottom: 105px;
}

#btn-place-airplane48{
  position: relative;
  left: -38.5%;
  bottom: 81px;
}

#btn-place-airplane25, #btn-place-airplane26, #btn-place-airplane27, #btn-place-airplane28, #btn-place-airplane29, #btn-place-airplane30, #btn-place-airplane31, #btn-place-airplane32, #btn-place-airplane33, #btn-place-airplane34, #btn-place-airplane35, #btn-place-airplane36, #btn-place-airplane37, #btn-place-airplane38, #btn-place-airplane39, #btn-place-airplane40, #btn-place-airplane41, #btn-place-airplane42, #btn-place-airplane43, #btn-place-airplane44, #btn-place-airplane45, #btn-place-airplane46, #btn-place-airplane47, #btn-place-airplane48{
  background-color: #8f754d;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
}

#btn-place-airplane49{
  position: relative;
  left: -38.15%;
  bottom: 231px;
}

#btn-place-airplane50{
  position: relative;
  left: -40.1%;
  bottom: 206px;
}

#btn-place-airplane51{
  position: relative;
  left: -42%;
  bottom: 183px;
}

#btn-place-airplane52{
  position: relative;
  left: -43.9%;
  bottom: 130px;
}

#btn-place-airplane53{
  position: relative;
  left: 53.7%;
  bottom: 127px;
}

#btn-place-airplane54{
  position: relative;
  left: 51.8%;
  bottom: 103px;
}

#btn-place-airplane49, #btn-place-airplane50, #btn-place-airplane51, #btn-place-airplane52, #btn-place-airplane53, #btn-place-airplane54{
  background-color: #1361ab;
  border-radius: 3px;
  border-color: transparent;
  cursor: pointer;
}