*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 234, 254);
}

#root{
    width: 80%;
    height: auto;
}